body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:679px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:150px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:290px;
  width:494px;
  height:150px;
  display:flex;
  font-size:14px;
  color:#FF3399;
  text-align:left;
}
#u47 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u47_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:49px;
  width:24px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#FF3399;
}
#u48 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u48_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:322px;
  width:24px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#FF3399;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:387px;
  width:24px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#FF3399;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:185px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:49px;
  width:629px;
  height:185px;
  display:flex;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
