body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1599px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:608px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12186 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:132px;
  width:1041px;
  height:608px;
  display:flex;
}
#u12186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12187 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:321px;
  width:732px;
  height:198px;
  display:flex;
}
#u12187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12188 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:161px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12188 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12188_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u12190 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:188px;
  width:80px;
  height:80px;
  display:flex;
}
#u12190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u12191 {
  border-width:0px;
  position:absolute;
  left:1121px;
  top:200px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u12191 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#666666;
}
#u12192 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:240px;
  width:71px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#666666;
}
#u12192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12192_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:609px;
}
#u12193 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:132px;
  width:1px;
  height:608px;
  display:flex;
}
#u12193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12194 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:212px;
  width:202px;
  height:46px;
  display:flex;
}
#u12194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u12195 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:227px;
  width:110px;
  height:16px;
  display:flex;
  font-size:11px;
}
#u12195 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u12196 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:215px;
  width:40px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u12196 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12197 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:100px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12197 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12197_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12198 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:152px;
  width:80px;
  height:26px;
  display:flex;
  color:#FFFFFF;
}
#u12198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12199 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:152px;
  width:80px;
  height:26px;
  display:flex;
}
#u12199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  display:flex;
}
#u12200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:52px;
}
#u12201 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:16px;
  width:47px;
  height:52px;
  display:flex;
}
#u12201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u12202 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:27px;
  width:96px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u12202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12202_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u12203 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:12px;
  width:54px;
  height:54px;
  display:flex;
}
#u12203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12204 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:18px;
  width:66px;
  height:19px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u12204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u12205 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:42px;
  width:145px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u12205 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12205_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u12207 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:44px;
  width:22px;
  height:16px;
  display:flex;
}
#u12207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u12208 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:42px;
  width:7px;
  height:7px;
  display:flex;
}
#u12208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
}
#u12209 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:45px;
  width:1px;
  height:21px;
  display:flex;
}
#u12209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12210 {
  border-width:0px;
  position:absolute;
  left:1526px;
  top:45px;
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
  color:#CCCCCC;
  text-align:center;
}
#u12210 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12210_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2023px;
  background:inherit;
  background-color:rgba(64, 76, 88, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:225px;
  height:2023px;
  display:flex;
}
#u12211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12212 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:18px;
  width:67px;
  height:19px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u12212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u12213 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:101px;
  width:25px;
  height:20px;
  display:flex;
}
#u12213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12214 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:99px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12214 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12214_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12215 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:138px;
  width:213px;
  height:1px;
  display:flex;
}
#u12215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u12216 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:167px;
  width:23px;
  height:19px;
  display:flex;
}
#u12216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12217 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:163px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12217_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12218 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:209px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12218 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12218_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12219 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:249px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12220 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:332px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12221 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:372px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12222 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:442px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12222_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12223 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:488px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12224 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:528px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12225 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:568px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12226 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:421px;
  width:213px;
  height:1px;
  display:flex;
}
#u12226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u12227 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:446px;
  width:23px;
  height:19px;
  display:flex;
}
#u12227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12228 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:637px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12228 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12228_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12229 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:683px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12229_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12230 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:723px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12230 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12230_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12231 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:763px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12232 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:616px;
  width:213px;
  height:1px;
  display:flex;
}
#u12232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12233 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:832px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12233_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12234 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:878px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12234 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12234_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12235 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:811px;
  width:213px;
  height:1px;
  display:flex;
}
#u12235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12236 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:924px;
  width:213px;
  height:1px;
  display:flex;
}
#u12236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12237 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:940px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
  text-align:center;
}
#u12237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12237_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12238 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:980px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12238_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12239 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1020px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12239_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u12240 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:2024px;
  width:57px;
  height:20px;
  display:flex;
  color:#CCCCCC;
  text-align:center;
}
#u12240 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12240_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u12241 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:2024px;
  width:57px;
  height:20px;
  display:flex;
  color:#CCCCCC;
  text-align:center;
}
#u12241 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12241_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u12242 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:2024px;
  width:1px;
  height:16px;
  display:flex;
}
#u12242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u12243 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2050px;
  width:171px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u12243 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12243_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12244 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:637px;
  width:24px;
  height:24px;
  display:flex;
}
#u12244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u12245 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:940px;
  width:21px;
  height:24px;
  display:flex;
}
#u12245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u12246 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:832px;
  width:25px;
  height:26px;
  display:flex;
}
#u12246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u12247 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:25px;
  width:39px;
  height:34px;
  display:flex;
}
#u12247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12248 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:27px;
  width:261px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12248 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12248_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12249 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:289px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u12249 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12249_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12250 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:1744px;
  width:225px;
  height:43px;
  display:flex;
  font-size:20px;
}
#u12250 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 60px;
  box-sizing:border-box;
  width:100%;
}
#u12250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12251 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1077px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12251_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12252 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1056px;
  width:213px;
  height:1px;
  display:flex;
}
#u12252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12253 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1117px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12253_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12254 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1160px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12254_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12255 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1204px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12255 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12256 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1249px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12256 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12256_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12257 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1311px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12257 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12258 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1292px;
  width:213px;
  height:1px;
  display:flex;
}
#u12258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12259 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1355px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12259 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12259_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12260 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1398px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12260 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12260_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12261 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1442px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12261_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12262 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1487px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12262_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12263_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12263 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1546px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12263 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12263_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12264 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1529px;
  width:213px;
  height:1px;
  display:flex;
}
#u12264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12265 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1585px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12265 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12265_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12266 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1679px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12267 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1662px;
  width:213px;
  height:1px;
  display:flex;
}
#u12267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12268 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1713px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12268 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12268_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12269 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1797px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12269 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12269_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u12270 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1079px;
  width:27px;
  height:20px;
  display:flex;
}
#u12270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u12271 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1682px;
  width:23px;
  height:23px;
  display:flex;
}
#u12271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u12272 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1546px;
  width:23px;
  height:23px;
  display:flex;
}
#u12272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u12273 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1313px;
  width:24px;
  height:26px;
  display:flex;
}
#u12273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12274 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1623px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12274 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12274_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
