body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12826 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:100px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u12826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1330px;
  height:759px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12827 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:138px;
  width:1330px;
  height:759px;
  display:flex;
}
#u12827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u12828 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:103px;
  width:540px;
  height:18px;
  display:flex;
  color:#999999;
}
#u12828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12829 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:177px;
  width:71px;
  height:20px;
  display:flex;
}
#u12829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12830_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u12830 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:172px;
  width:173px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u12830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12830_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u12830.disabled {
}
#u12831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12831 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:172px;
  width:100px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u12831 .text {
  position:absolute;
  align-self:center;
  padding:8px 12px 8px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:80px;
  display:flex;
}
#u12832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:52px;
}
#u12833 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:16px;
  width:47px;
  height:52px;
  display:flex;
}
#u12833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:45px;
}
#u12834 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:21px;
  width:1px;
  height:44px;
  display:flex;
}
#u12834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u12835 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:27px;
  width:96px;
  height:40px;
  display:flex;
  font-size:28px;
  color:#FFFFFF;
}
#u12835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u12836 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:12px;
  width:54px;
  height:54px;
  display:flex;
}
#u12836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12837 {
  border-width:0px;
  position:absolute;
  left:1380px;
  top:18px;
  width:66px;
  height:19px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u12837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u12838 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:42px;
  width:145px;
  height:25px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u12838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:16px;
}
#u12840 {
  border-width:0px;
  position:absolute;
  left:1462px;
  top:44px;
  width:22px;
  height:16px;
  display:flex;
}
#u12840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u12841 {
  border-width:0px;
  position:absolute;
  left:1479px;
  top:42px;
  width:7px;
  height:7px;
  display:flex;
}
#u12841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:22px;
}
#u12842 {
  border-width:0px;
  position:absolute;
  left:1508px;
  top:45px;
  width:1px;
  height:21px;
  display:flex;
}
#u12842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#CCCCCC;
}
#u12843 {
  border-width:0px;
  position:absolute;
  left:1526px;
  top:45px;
  width:33px;
  height:22px;
  display:flex;
  font-size:16px;
  color:#CCCCCC;
}
#u12843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12844_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:2023px;
  background:inherit;
  background-color:rgba(64, 76, 88, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:225px;
  height:2023px;
  display:flex;
}
#u12844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:19px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u12845 {
  border-width:0px;
  position:absolute;
  left:1304px;
  top:18px;
  width:67px;
  height:19px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u12845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u12846 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:101px;
  width:25px;
  height:20px;
  display:flex;
}
#u12846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12847 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:99px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12847 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12847_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12848 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:138px;
  width:213px;
  height:1px;
  display:flex;
}
#u12848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u12849 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:167px;
  width:23px;
  height:19px;
  display:flex;
}
#u12849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12850 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:163px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12850 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12850_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12851 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:209px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12851 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12851_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12852 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:249px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12852 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12852_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12853 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:332px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12853 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12853_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12854 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:372px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12854 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12854_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12855 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:442px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12855 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12855_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12856 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:488px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12856 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12856_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12857 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:528px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12857 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12857_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12858 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:568px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12858 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12858_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12859 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:421px;
  width:213px;
  height:1px;
  display:flex;
}
#u12859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:19px;
}
#u12860 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:446px;
  width:23px;
  height:19px;
  display:flex;
}
#u12860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12861 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:637px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12861 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12861_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12862 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:683px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12862 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12862_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12863 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:723px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12863 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12863_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12864 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:763px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12864 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12864_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12865 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:616px;
  width:213px;
  height:1px;
  display:flex;
}
#u12865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12866 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:832px;
  width:61px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12866 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12866_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12867 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:878px;
  width:101px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12867 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12867_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12868 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:811px;
  width:213px;
  height:1px;
  display:flex;
}
#u12868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12869 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:945px;
  width:78px;
  height:23px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12869 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12869_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12870 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:924px;
  width:213px;
  height:1px;
  display:flex;
}
#u12870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12871 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:947px;
  width:20px;
  height:20px;
  display:flex;
}
#u12871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12872 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1010px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12873 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:989px;
  width:213px;
  height:1px;
  display:flex;
}
#u12873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12874_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12874 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1050px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12874 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12874_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12875 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1090px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12875 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12875_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u12876 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:2024px;
  width:57px;
  height:20px;
  display:flex;
  color:#CCCCCC;
}
#u12876 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12876_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12877_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u12877 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:2024px;
  width:57px;
  height:20px;
  display:flex;
  color:#CCCCCC;
}
#u12877 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12877_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u12878 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:2024px;
  width:1px;
  height:16px;
  display:flex;
}
#u12878 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12878_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12879_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12879 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:2050px;
  width:171px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#CCCCCC;
}
#u12879 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12879_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u12880 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:637px;
  width:24px;
  height:24px;
  display:flex;
}
#u12880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u12881 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1010px;
  width:21px;
  height:24px;
  display:flex;
}
#u12881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u12882 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:832px;
  width:25px;
  height:26px;
  display:flex;
}
#u12882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404C58;
}
#u12883 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:947px;
  width:23px;
  height:23px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#404C58;
}
#u12883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u12884 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:25px;
  width:39px;
  height:34px;
  display:flex;
}
#u12884 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12884_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12885 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:27px;
  width:261px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12885 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12885_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12886_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12886 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:289px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12886 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12886_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12887 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:211px;
  width:57px;
  height:20px;
  display:flex;
}
#u12887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12888_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u12888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u12888 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:207px;
  width:283px;
  height:25px;
  display:flex;
  font-size:14px;
  color:#333333;
}
#u12888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12888_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#333333;
}
#u12888.disabled {
}
#u12889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12889 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:249px;
  width:69px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u12889 .text {
  position:absolute;
  align-self:center;
  padding:8px 12px 8px 12px;
  box-sizing:border-box;
  width:100%;
}
#u12889_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u12890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1842px;
  width:225px;
  height:43px;
  display:flex;
  font-size:20px;
}
#u12890 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 60px;
  box-sizing:border-box;
  width:100%;
}
#u12890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12891 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1146px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12892 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1125px;
  width:213px;
  height:1px;
  display:flex;
}
#u12892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12893 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1186px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12893_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12894 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1229px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12895 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1273px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12895 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12895_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12896 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1318px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12896_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12897 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1380px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12898 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1361px;
  width:213px;
  height:1px;
  display:flex;
}
#u12898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12899 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1424px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12899_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12900 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1467px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12900 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12900_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12901 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1511px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12902 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1556px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12903 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1615px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12904 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1598px;
  width:213px;
  height:1px;
  display:flex;
}
#u12904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12905 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1654px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12905_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CCCCCC;
}
#u12906 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1748px;
  width:41px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#CCCCCC;
}
#u12906 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12906_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:2px;
}
#u12907 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1731px;
  width:213px;
  height:1px;
  display:flex;
}
#u12907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12908 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1782px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12909 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1816px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12909_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u12910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u12910 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:1148px;
  width:27px;
  height:20px;
  display:flex;
}
#u12910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u12911 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:1751px;
  width:23px;
  height:23px;
  display:flex;
}
#u12911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u12912 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1615px;
  width:23px;
  height:23px;
  display:flex;
}
#u12912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u12913 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1382px;
  width:24px;
  height:26px;
  display:flex;
}
#u12913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u12914 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1692px;
  width:81px;
  height:28px;
  display:flex;
  font-size:20px;
  color:#FFFFFF;
}
#u12914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u12914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
